/* assets/styles.css */

/* Global Styles */
body {
    background-color: #f0f8ff; /* Celeste chiaro */
    color: #003366; /* Blu scuro per il testo */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #0056b3; /* Blu chiaro per i titoli */
  }
  
  .btn-primary {
    background-color: #007bff; /* Blu per i bottoni */
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  
  .btn-secondary {
    background-color: #6c757d; /* Grigio per i bottoni secondari */
    border-color: #6c757d;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }
  
  .modal-content {
    background-color: #ffffff; /* Bianco per il contenuto del modal */
    color: #003366; /* Blu scuro per il testo nel modal */
  }